<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Javascript Assignment</a>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" href="dashboard">Home</a>
                  <a class="nav-link" href="logout">Log out</a>
                </div>
              </div>
            </div>
          </nav>
      </header>
    <div class="container">
        <h1 class="text-center m-5">Welcome to Dashboard</h1>
        <div class="card" style="width: 50vw;">
            <div class="card-body">
              <h5 class="card-title">Employee Manager Login and Registration</h5>
              <h6 class="card-subtitle mb-2 text-muted">Due: Midnight on Sunday February 28 th , 2021</h6>
              <p class="card-text">Weight: 15%</p>
              <a href="logout" class="card-link">Log out</a>

            </div>
          </div>
    </div>
</body>
</html>